<!DOCTYPE html>

{% load static %}

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Stock Market Project</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type='text/css' media='screen' href="{% static 'styles/navbar_new.css' %}">  
        <link rel="stylesheet" type='text/css' media='screen' href="{% static 'styles/bootstrap.min.css' %}">
        <link rel="stylesheet" type='text/css' media='screen' href="{% static 'styles/magnific-popup.css' %}">
        <link rel="stylesheet" type='text/css' media='screen' href="{% static 'styles/font-awesome.min.css' %}">

    </head>
<body>

    <div class="topnav">
		<div>Stock Market Project</div>
        <ul>
            <li><a href="{% url 'base:home' %}">Home</a></li>
            <li><a href="{% url 'stocks:home' %}">Stocks</a></li>
            <li><a href="{% url 'orders:home' %}">Orders</a></li>
            <li><a href="{% url 'trades:view-trades' %}">Trades</a></li>
            <li><a href="{% url 'trades:view-shares' %}">Portfolio</a></li>
            <li style="float:right"><a href="{% url 'base:logout' %}">Logout</a></li>
            {% if request.user.is_authenticated %}
            <li style="float:right"> Account Value: {{ request.user.account_value }} </li>
            {% endif %}
        </ul>
	</div>

<h1> Trades </h1>
<div>
    {% for trade in trades %}
        <div>
            <h3> {{trade.order}} --- executed at price --- {{trade.executionPrice}} </h3>
            {% if trade.order.orderDirection == "SELL" %}
            <p><i> Profit: {{trade.profit}}% </i> </p>
            {% endif %}
            <p>{{trade.createdAt}}</p>
            <hr>
        </div>
    {% endfor %}
</div>

</body>
</html>
